	
	/* Universal Styles */

html {
	font-size: 18px;
}

body {
	font-family: Helvetica, sans-serif;
	color: white;
}

header,
footer,
.title,
.product h4,
.infobox h4 {
	background-color: black;
}

.inside {
	width: 960px;
	margin: 0 auto;
}

	/* Header */

header .inside {
	display: flex;
	align-items: center;
	padding: .66rem 0 .66rem 0.5rem;
}

header span {
	font-size: 1rem;
}

header img {
	height: 1.5rem;
	padding-right: 1rem;
}


 	/* Banner */

.banner {
	background: url("../images/moto.jpeg") center no-repeat;
	background-size: cover;
	height: 25rem;
}

.title {
	position: relative;
	top: 9rem;
	width: 20rem;
	font-weight: bold;
	padding: 2rem 3rem;
}

.title h4 {
	font-size: 1rem;
	padding-bottom: 0.25rem;
}

.title h1 {
	font-size: 2rem;
}

 	/* Navigation Bar */

 nav .inside {
 	display: flex;
 	justify-content: space-between;
 }

 .spreadmenu,
 .shortmenu {
 	background-color: firebrick;
 	padding-top: 0.75rem;
 	padding-bottom: 0.75rem;
 	width: 100%;
 }

 .shortmenu {
 	display: none;
 }

 	/* Homepage Content */

 .homepage .inside {
 	display: flex;
 	justify-content: space-between;
 	flex-wrap: wrap;
 	/*max-width: 960px;*/
 }

 .product {
 	margin: 3rem 0;
 	border-top: 4px solid black;
 	border-left: 4px solid black;
 	border-right: 4px solid black;
 	width: 30%;
 	display: flex;
 	flex-direction: column;
 	align-content: center;
 }

 .product img {
 	height: 9rem;
 	padding: 2rem 0;
 	margin: 0 auto;
 	max-width: 100%;
 }

 .product h4 {
 	text-align: center;
 	padding: 0.5rem 0;
 }

.infobox {
	margin-bottom: 4rem;
	width: 35%;
 }

.infobox h4 {
	padding: 1rem 0 1rem 2rem;

}

.infobox p {
	color: black;
	padding-top: 0.25rem;
}

 	/* Footer */

 footer {
 	display: flex;
 	align-items: center;
 	text-align: left;
 	height: 5rem;
 }

 	/* ---- Media Queries ---- */


 	/* Tablet Size */

@media only screen and (max-width: 1024px) {

	.spreadmenu {
	 	display: none;
	}

	.shortmenu {
	 	display: inherit;
	}

	nav .inside {
	 	justify-content: center;
	}

	.product {
	 	width: 47%;
	}

	.extratablet {
	 	display: none;
	}

	.inside {
		width: 100%;
	}
}

 	/* Phone Size */

@media only screen and (max-width: 470px) {

 	.banner {
		height: 15rem;
	}

	.title {
	top: 10rem;
	width: inherit;
	font-weight: bold;
	padding: 1rem 0 1rem 2rem;
	}

	.title h4 {
	font-size: 0.77rem;
	}

	.title h1 {
	font-size: 1rem;
	}

	.extraphone {
		display: none;
	}

	.product {
		width: 90%;
	}

	.inside {
		width: 100%;
	}

	.homepage .inside {
		align-items: center;
		flex-direction: column;
	}

	.infobox {
		width: 90%;
	}

	.top {
		margin-bottom: 0.5rem;
	}

	footer {
		text-align: center;
	}

	body {
		overflow-y: auto;
  	-ms-overflow-x: auto;
  	overflow-x: hidden;
  	-ms-overflow-x: hidden;
	}
}

 