	
	/* Universal Styles */

html {
	font-size: 18px;
}

body {
	font-family: Helvetica, sans-serif;
	color: white;
}

header,
footer,
.title {
	background-color: black;
}

	/* Header */

header {
	display: flex;
	align-items: center;
}

header span {
	font-size: 1rem;
	padding: 0.66rem 0;
}

header img {
	height: 1.5rem;
	padding-left: 0.5rem;
	padding-right: 1rem;
}

	/* Main Content */

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

 	/* Banner */

.banner {
	background-image: url("../images/moto.jpeg");
	height: 25rem;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

.title {
	margin-top: 9rem;
	width: 20rem;
	font-weight: bold;
	padding: 2rem 0 2rem 3rem;
}

.smalltitle {
	font-size: 1rem;
	padding-bottom: 0.25rem;
}

.bigtitle {
	font-size: 2rem;
}

 	/* Navigation Bar */

 nav {
 	width: 100%;
 	display: flex;
 	justify-content: space-between;
 	background-color: firebrick;
 	padding-top: 0.75rem;
 	padding-bottom: 0.75rem;
 }

 	/* Homepage Content */

 .homepage {
 	display: inline-flex;
 	justify-content: space-between;
 	flex-wrap: wrap;
 	width: 960px;
 }

 .product {
 	margin: 3rem 0;
 	border: 4px solid black;
 	width: 30%;
 	display: flex;
 	flex-direction: column;
 	align-content: center;
 }

 .product img {
 	height: 9rem;
 	padding: 2rem 0;
 	margin: 0 auto;
 	max-width: 100%;
 }

 .product h4 {
 	background-color: black;
 	text-align: center;
 	padding: 0.5rem 0;
 }

.infobox {
	margin-bottom: 4rem;
	width: 35%;
 }

.infobox h4 {
	background-color: black;
	padding: 1rem 0 1rem 2rem;

}

.infobox p {
	color: black;
	padding-top: 0.25rem;
}

 	/* Footer */

 footer {
 	display: flex;
 	align-items: center;
 	text-align: left;
 	height: 5rem;
 }